In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('../raw_data/data.csv', sep=';')
data['timestamp'] = pd.to_datetime(data['timestamp'], unit='s')
data.set_index('timestamp', inplace=True)

data

,asin,brand,id,source,stars
timestamp,,,,,
2019-01-29 22:00:00,B0014D3N0Q,Downy,R11QPQWAH45REP,amazon,5
2019-01-07 22:00:00,B0014D3N0Q,Downy,R3RFSN6FNTQ4JI,amazon,5
2019-01-06 22:00:00,B0014D3N0Q,Downy,RVEQH20A3EP0A,amazon,3
2018-12-22 22:00:00,B0014D3N0Q,Downy,RC0ONQQQXLWR9,amazon,1
2018-11-26 22:00:00,B0014D3N0Q,Downy,R2OHUO09CNTE09,amazon,5
...,...,...,...,...,...
2019-02-05 22:00:00,B07H3RC7PN,Snuggle,R25BAXYN2GWZNP,amazon,5
2019-01-17 22:00:00,B07H3RC7PN,Snuggle,R2KT9B7LLO4LIH,amazon,5
2019-01-06 22:00:00,B07H3RC7PN,Snuggle,R916IC5U1YN92,amazon,5
2019-04-19 21:00:00,B07BRK19HN,Seventh Generation,R3FI2096P66KV5,amazon,5
2019-01-15 22:00:00,B07BRK19HN,Seventh Generation,R2GPGHIZ7ZQX6B,amazon,4

In [3]:
def filter_data(df, **att):
    if
    
    
    return df

def calculate_price(value, **kwargs):
    tax_percentage = kwargs.get('tax_percentage')
    discount = kwargs.get('discount')    if tax_percentage:
        value += value * (tax_percentage / 100)
    if discount:
        value -= discount  
        return value

SyntaxError: invalid syntax (465666551.py, line 2)

In [ ]:
attributes = {
                'brand': ['Snuggle','Downy'],
                'stars': [5]
            }

In [11]:
from datetime import datetime
import time

starteDate = '2019-01-01'
endeDate = '2020-01-01'


startDate = int(
        time.mktime(
            datetime.strptime(starteDate, "%Y-%m-%d").timetuple()))
endDate = int(
        time.mktime(
            datetime.strptime(endeDate, "%Y-%m-%d").timetuple()))

print(startDate, endDate)

1546308000 1577847600

In [12]:
def parse_date(dt):
    return int(time.mktime(datetime.strptime(dt, "%Y-%m-%d").timetuple()))

print(parse_date('2019-01-01'))

1546308000